<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}" >
<head>
    <meta charset="UTF-8">
    <title th:text="#{employee.employees}"></title>
</head>
<body>
    <div layout:fragment="content" class="container">
        <h1 class="pt-4 pb-4" th:text="#{employee.employees}"></h1>
        <a class="btn btn-secondary mb-3" th:href="@{/addEmployee}" th:text="#{employee.add}" />
            <table class="table table-hover table-clear" >
                <thead>
                    <tr>
                        <th scope="col" th:text="#{employee.firstName}"></th>
                        <th scope="col" th:text="#{employee.lastName}"></th>
                        <th scope="col" th:text="#{employee.workPhoneNo}"></th>
                        <th scope="col" th:text="#{employee.position}"></th>
                        <th scope="col" th:text="#{employee.branch}"></th>
                        <th scope="col" th:text="#{employee.cars.to.care}"></th>
                        <th style="width: 10%"></th>
                        <th style="width: 10%"></th>

                    </tr>
                </thead>
                <tbody>
                        <tr th:each="tempEmployee : ${employees}">
                            <td th:text="${tempEmployee.firstName}"/>
                            <td th:text="${tempEmployee.lastName}"/>
                            <td th:text="${tempEmployee.workPhoneNo}"/>
                            <td th:text="${tempEmployee.position}"/>
                            <div th:if="${tempEmployee.branch == null}" >
                                <td th:text="${tempEmployee.branch}"/>
                            </div>
                            <div th:unless="${tempEmployee.branch == null}" >
                                <td th:text="${tempEmployee.branch.address.city}"/>
                            </div>
                            <div th:if="${tempEmployee.cars != null}" >
                                <td>
                                    <table class="table-info">
                                        <tr th:each="tempCar : ${tempEmployee.cars}">
                                            <td style="border-top:0px; padding:0.3rem;" th:text="${tempCar.carBrandModel}" />
                                        </tr>
                                    </table>
                                </td>
                            </div>
                            <td>
                                <a class="btn btn-primary" th:href="@{/viewEmployee(employeeId=${tempEmployee.id})}" th:text="#{button.view}"></a>
                            </td>
                            <td>
                                <a class="btn btn-info" th:href="@{/editEmployee(employeeId=${tempEmployee.id})}" th:text="#{button.update}"></a>
                            </td>


                    </tr>
                </tbody>
            </table>
    </div>
</body>
</html>
