<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}" >
<head>
    <meta charset="UTF-8">
    <title th:text="#{employee.view.form.title}"></title>
</head>
<body>
    <div layout:fragment="content" class="container">
        <h1 class="pt-4 pb-4" th:text="#{employee.view.form.title}"></h1>
        <div class="row">
            <table class="table table-hover table-clear col-sm-6" th:object="${employee}" >
                <tbody>
                    <tr>
                        <td th:text="#{employee.firstName}" style="width: 200px"></td>
                        <td th:text="${employee.firstName}"></td>
                    </tr>
                    <tr>
                        <td th:text="#{employee.lastName}"></td>
                        <td th:text="${employee.lastName}"></td>
                    </tr>
                    <tr>
                        <td th:text="#{employee.position }"></td>
                        <td th:text="*{position }"></td>
                    </tr>
                    <tr>
                        <td th:text="#{employee.workPhoneNo}"></td>
                        <td th:text="*{workPhoneNo}"></td>

                    </tr>
                    <tr>
                        <td th:text="#{employee.branch}"></td>
                        <td th:text="*{branch.address.city}"></td>

                    </tr>
                    <tr>
                        <div th:if="${employee.cars != null}" >
                            <td th:text="#{employee.cars.to.care}"></td>
                            <td>
                                <table class="table-info">
                                    <tr th:each="tempCar : ${employee.cars}">
                                        <td style="border-top:0px; padding:0.3rem;" th:text="${tempCar.carBrandModel}" />
                                    </tr>
                                </table>
                            </td>
                        </div>
                    </tr>
<!--                    <tr>-->
<!--                        <td th:text="#{client.address.houseNo}"></td>-->
<!--                        <td th:text="${client.address.houseNo}"></td>-->

<!--                    </tr>-->

                </tbody>
            </table>
        </div>

    </div>
</body>
</html>
