<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}" >
<head>
    <meta charset="UTF-8">
    <title  th:text="#{car.cars}"></title>
</head>
<body>
    <div class="container" layout:fragment="content" >
        <h1 class="pt-4 pb-2" th:text="#{car.cars}"></h1>
            <a class="btn btn-secondary mb-3" th:href="@{/addCar}" th:text="#{car.add}" />

            <form action="/search" >
                <div class="form-row align-items-center mb-3">

                    <div class="col-sm-3">
                       <input class="form-control" type="text" name="carBrandModel" placeholder="Wyszukaj samochów"/>
                    </div>
                    <div class="col-sm-3">

                        <select class="form-control"  name="carType">

                            <option th:text="#{car.select.type}" th:value="none"></option>
                            <option th:each="type : ${T(com.java.carrental.entity.enums.CarType).values()}"
                                    th:value="${type}" th:text="${type}"></option>
                        </select>
                    </div>
                    <div class="col-sm-3">

                        <select class="form-control"  name="branch">

                            <option th:text="#{car.select.branch}" th:value="none"></optiont>
                            <option th:each="branch : ${branchesAllValues}" th:value="${branch.id}" th:text="${branch.address.city}">
                                    </option>

                        </select>
                    </div>

                    <div class="col-auto">
                        <input class="btn btn-primary" type="submit" value="search" />
                   </div>
                </div>
            </form>

            <table class="table table-hover table-clear" >
                <thead>
                    <tr>
                        <th scope="col" th:text="#{car.carBrandModel}"/></th>
                        <th scope="col" th:text="#{car.carType}"/></th>
                        <th scope="col" th:text="#{car.productionYear}"/></th>
                        <th scope="col" th:text="#{car.carColor}"/></th>
                        <th scope="col" th:text="#{car.engineCapacity}"/></th>
                        <th scope="col" th:text="#{car.horsePower}"/> </th>
                        <th scope="col" th:text="#{car.mileage}"/></th>
                        <th scope="col" th:text="#{car.branch}"/></th>
                        <th scope="col" th:text="#{car.carKeepers}"/></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        <tr th:each="tempCar : ${cars}">
                            <td th:text="${tempCar.carBrandModel}"/>
                            <td th:text="${tempCar.carType}"/>
                            <td th:text="${tempCar.productionYear}"/>
                            <td th:text="${tempCar.carColor}"/>
                            <td th:text="${tempCar.engineCapacity}"/>
                            <td th:text="${tempCar.horsePower}"/>
                            <td th:text="${tempCar.mileage}"/>
                            <div th:if="${tempCar.branch == null}" >
                                <td th:text="${tempCar.branch}"/>
                            </div>
                            <div th:unless="${tempCar.branch == null}" >
                                <td th:text="${tempCar.branch.address.city}"/>
                            </div>
                            <td >
                                <table class="table-info">
                                    <tr th:each="tempKeeper : ${tempCar.carKeepers}">
                                        <td style="border-top:0px; padding:0.3rem;" th:text="${tempKeeper.firstName}" />
                                        <td style="border-top:0px; padding:0.3rem;" th:text="${tempKeeper.lastName}" />
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <a class="btn btn-info" th:href="@{/editCar(carId=${tempCar.id})}" > update </a>
                            </td>
                    </tr>
                </tbody>
            </table>
    </div>
</body>
</html>
